{% extends "layout.twig" %}

{% block title %}
Twig Filter
{% endblock %}	
{% block content %}
	<h1>Twig filter Exercise</h1>

	<h1>abs</h1>
	<span>Output :{{ number|abs}} </span>
<h1>Batch</h1>	
{% set items = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] %}

<table>
{% for row in items|batch(4, 'No item') %}
    <tr>
        {% for column in row %}
            <td>{{ column }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
<h1>capitalize</h1>

{{ 'my twig Filter examples here'|capitalize }}

<h1>column</h1>
{% set items = [{ 'fruit' : 'apple'}, {'fruit' : 'orange' }] %}

{% set fruits = items|column('fruit') %}

{% for frow in fruits %}	
	{{ frow }}
{% endfor %}
<h1>convert_encoding</h1>
{{ my_var|convert_encoding('UTF-8', 'iso-2022-jp') }}

Country Name:{{ 'FR'|country_name }}
{{ 'US'|country_name('fr') }}

{{ 'RUPEES'|currency_symbol('in') }}
{# fruits now contains ['apple', 'orange'] #}

<h1>Date</h1>
<p>1.{{ "now"|date("m/d/Y") }}</p>
<h1>Date modify</h1>
<p>1.{{ "now"|date_modify("+1 day")|date("m/d/Y") }}</p>

<h1>escape</h1>
<p>{{ "<span>Remove span tag</span>"|escape('html')}}</p>
<h1>Filter</h1>
{% set sizes = [34, 36, 38, 40, 42] %}
{{ sizes|filter(v => v > 36)|join(', ') }}
<h1>First</h1>
<p>{{ [1, 2, 3, 4]|first }}</p>
<h1>Format</h1>
<p>{{ "I like %s and %s."|format(foo, "bar") }}</p>

<h1>Data uri example</h1>
{{ '<b>foobar</b>'|data_uri(mime="text/html", parameters={charset: "ascii"}) }}

<h1>INKY TO HTML</h1>
{% apply inky_to_html %}
    <row>
        <columns large="6">sdafasdf</columns>
        <columns large="6">sdfdsf</columns>

    </row>
    <row>
        <columns large="6">sdafasdf</columns>
        <columns large="6">sdfdsf</columns>
    </row>
{% endapply %}

{% apply html_to_markdown %}
    <html>
        <h1>Hello!</h1>
    </html>
{% endapply %}
<h1>Custom Filter function</h1>

{{'TWIG asdfasdf'|rot13 }} <br/>
{{'TWIG asdfasdf'|rot13_with_extenstion }} <br/>

{{'TWIG'|customlower }} <br/>

<br/>
<h2>Custom Function</h2>
{{ lipsum('Twig test string')  }}

{% endblock %}